@model Product

<h3>@Model.Name</h3>

<table class="table">
    <tr>
        <th class="headerSortDown">Product ID</th>
        <th class="headerSortDown">Name</th>
        <th class="headerSortDown">Price</th>
        <th class="headerSortDown">Category ID</th>
        <th class="headerSortDown">On Sale</th>
        <th class="headerSortDown">StockLevel</th>
    </tr>
    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.Name</td>
        <td>@Model.Price</td>
        <td>@Model.CategoryID</td>
        <td>@Model.OnSale</td>
        <td>@Model.StockLevel</td>
    </tr>

</table>

<div style="display: block">
    <a href="/Product/UpdateProduct/@Model.ProductID">Update this Product</a>
</div>

<div>
    @using (Html.BeginForm("UpdateProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
        <input type="submit" class="btn btn-block btn-info " onclick="return confirm('Are you sure?')" value="Update this product" />
    }
</div>

<div>
    @using (Html.BeginForm("DeleteProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
        <input type="submit" class="btn btn-danger btn-block" onclick="return confirm('Are you sure?')" value="Delete this product" />
    }
</div>

<div></div>
<!-- <div>
    Html.ActionLink("Update This Product", "UpdateProduct", "Product", new { id = Model.ProductID })
</div>
-->


